/* Begin Header Style CSS */
body {
    background: #1f1f20;
}
#navbar {
    margin-top: 30px;
}
@media (min-width: 768px) {
    #navbar {
        display: flex !important;
        justify-content: space-between;
    }
}
.navbar-default .navbar-nav {
    display: flex;
    justify-content: right;
}
.navbar-default .navbar-nav > .active > a.site-button,
a.site-button,
a.site-button:hover
{
    background: rgb(65, 161, 86);
    padding: 10px 15px;
    border-radius: 6px;
    border-bottom: none;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}
a.site-button > i{
    margin-right: 10px;
}
.ipad-logo .main-logo {
    display: none;
}
.navbar-header .main-logo.mobile-logo {
    display: none;
    width: 100%;
}
.main-logo a.logo,
.main-logo a.logo
{
    text-decoration: none;
    display: flex;
    align-items: center;
}
.main-logo a.logo img {
    width: 45px;
    border: solid 1px #4e4e4e;
    margin-right: 10px;
    border-radius: 5px;
}
.main-logo a.logo h4 {
    margin: 0px;
    color: #fff;
}
.navbar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.ipad-logo {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}
@media (max-width: 1199px) {
    #navbar .main-logo a.logo h4 {
        font-size: 15px;
    }
}

@media (max-width: 991px) {
    #navbar .main-logo {
        display: none;
    }
    .ipad-logo .main-logo {
        display: block;
    }
    #navbar {
        margin-top: 0px;
    }
}

@media (max-width: 767px) {
    .navbar-right li {
        width: 100%;
        display: flex;
        justify-content: left;
        margin-left: 15px;
    }
    .navbar-default .navbar-nav {
        flex-direction: column;
    }
    .navbar-header .main-logo.mobile-logo {
        display: block;
    }
    .ipad-logo .main-logo {
        display: none;
    }
    #navbar {
        margin-top: 20px;
    }
}

/* Footer style css */
footer.footer {
    text-align: center;
    color: #adadad;
    padding: 15px;
    border-top: solid 1px #4e4e4e;
    margin-top: 25px;
}

/* Common custom style css */
.half-width {
    width: 100%;
}